.nav-item{
    text-align: center;
    width: 50%;
    font-weight: 700;
}

.navbar-nav{
   width: 100%; 
}

nav{
    margin-bottom: 0;
    height: 7.5%;
}

.selected{
    color: rgba(0,0,0,.7) !important;
}

a{
    font-weight: 1000;
}